nav {
  min-height: 10vh; /* Set the minimum height of the nav element */
  display: flex; /* Display as flex */
  justify-content: space-around; /* Space items evenly along the horizontal axis */
  align-items: center; /* Align items vertically in the center */

  button {
    background: transparent; /* Set the background color to transparent */
    border: none; /* Remove the border */
    cursor: pointer; /* Set cursor to pointer */
    padding: 0.5rem; /* Add padding */
    border: 2px solid rgb(65, 65, 65); /* Add a border */
    transition: all 0.3s ease; /* Apply a transition effect */

    &:hover {
      background: rgb(65, 65, 65); /* Change background color on hover */
      color: white; /* Change text color on hover */
    }
  }

  .library-active {
    background: rgb(65, 65, 65); /* Set background color for elements with the class .library-active */
    color: white; /* Set text color for elements with the class .library-active */
  }
}

@media screen and (max-width: 768px) {
  nav {
    button {
      z-index: 10; /* Set the z-index property */
    }
  }
}
